/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
body {
    .drag-g {
        &:hover {
            cursor: move;
        }
        .drag-point {
            rect {
                pointer-events: all;
                &.nw-p {
                    cursor: nw-resize;
                }
                &.ne-p {
                    cursor: ne-resize;
                }
                &.e-p {
                    cursor: e-resize;
                }
                &.n-p {
                    cursor: n-resize;
                }
            }
        }
    }
}
